.App {
   display: flex;
   width:100%;
   height:100%;
}

.LeftPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: whitesmoke;  
  width: 200px;
  justify-content: center;
}

.RightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: calc(100% - 150px);

  /* fallback */
	background-color:#063053;
	/* chrome 2+, safari 4+; multiple color stops */
	background-image:-webkit-gradient(linear, left bottom, right top, color-stop(0.32, #50494c), color-stop(0.66, #998d92), color-stop(0.83, #5c7c99));
	/* chrome 10+, safari 5.1+ */
	background-image:-webkit-linear-gradient(45deg, #50494c, #998d92, #5c7c99);
	/* firefox; multiple color stops */
	background-image:-moz-linear-gradient(45deg, #50494c, #998d92, #5c7c99);
	/* ie10 */
	background-image: -ms-linear-gradient(45deg, #50494c 0%, #998d92 100%);
	/* opera 11.1 */
	background-image: -o-linear-gradient(45deg, #50494c, #998d92);
	/* The "standard" */
	background-image: linear-gradient(45deg, #50494c, #998d92);
}

.PlayerBlock {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 10px 10px;
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  /* fallback */
	background-color:#063053;
	/* chrome 2+, safari 4+; multiple color stops */
	background-image:-webkit-gradient(linear, left bottom, right top, color-stop(0.32, #067753), color-stop(0.66, #0cc288), color-stop(0.83, #5c7c99));
	/* chrome 10+, safari 5.1+ */
	background-image:-webkit-linear-gradient(45deg, #067753, #0cc288, #5c7c99);
	/* firefox; multiple color stops */
	background-image:-moz-linear-gradient(45deg, #067753, #0cc288, #5c7c99);
	/* ie10 */
	background-image: -ms-linear-gradient(45deg, #067753 0%, #0cc288 100%);
	/* opera 11.1 */
	background-image: -o-linear-gradient(45deg, #067753, #0cc288);
	/* The "standard" */
	background-image: linear-gradient(45deg, #067753, #0cc288);
}

.PlayerName:hover {
  color:red;
  cursor: pointer;
}

.VPIP:hover {
  color:red;
}

.PFR:hover {
  color:red;
}

.PlayerList {
  background-color: orange;
  width: 600px;
}
